*{
    list-style: none;
    margin:0; 
    padding: 0;
    text-decoration: none;
    color :black; 
    font-weight: normal;
    
    
    
    
}

h1{
    color: red;
}
h2{
    color: blue;
}
h3{
    color: aqua;
}
h4{
    color: blueviolet;
}
h5{
    color: black;
}
h6{
    color: bisque;
}